<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eKYC.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>36D5DED5DD36A3A30A5DD472F659B703B704663C</string>
				<key>dateExpires</key>
				<string>18/02/25</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36D5DED5DD36A3A30A5DD472F659B703B704663C</string>
						<key>dateExpires</key>
						<string>18/02/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DocumentReader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>599483GMUY</string>
						<key>name</key>
						<string>SPACE AI TECHNOLOGY INC</string>
					</dict>
					<key>versionNumber</key>
					<string>7.3.3764</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.1.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36D5DED5DD36A3A30A5DD472F659B703B704663C</string>
						<key>dateExpires</key>
						<string>18/02/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DocumentReaderCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>599483GMUY</string>
						<key>name</key>
						<string>SPACE AI TECHNOLOGY INC</string>
					</dict>
					<key>versionNumber</key>
					<string>7.3.9680</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36D5DED5DD36A3A30A5DD472F659B703B704663C</string>
						<key>dateExpires</key>
						<string>18/02/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FaceSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>599483GMUY</string>
						<key>name</key>
						<string>SPACE AI TECHNOLOGY INC</string>
					</dict>
					<key>versionNumber</key>
					<string>6.2.1999</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36D5DED5DD36A3A30A5DD472F659B703B704663C</string>
						<key>dateExpires</key>
						<string>18/02/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Liveness.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>599483GMUY</string>
						<key>name</key>
						<string>SPACE AI TECHNOLOGY INC</string>
					</dict>
					<key>versionNumber</key>
					<string>6.2.783</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36D5DED5DD36A3A30A5DD472F659B703B704663C</string>
						<key>dateExpires</key>
						<string>18/02/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RegulaCommon.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>599483GMUY</string>
						<key>name</key>
						<string>SPACE AI TECHNOLOGY INC</string>
					</dict>
					<key>versionNumber</key>
					<string>7.3.683</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36D5DED5DD36A3A30A5DD472F659B703B704663C</string>
						<key>dateExpires</key>
						<string>18/02/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>599483GMUY</string>
						<key>name</key>
						<string>SPACE AI TECHNOLOGY INC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>599483GMUY.org.reactjs.native.example.eKYC1</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>599483GMUY</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>eKYC.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c9a2cd21-baea-4999-8d9b-9366bd89bdc9</string>
				<key>dateExpires</key>
				<string>18/02/25</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: org.reactjs.native.example.eKYC1</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>599483GMUY</string>
				<key>name</key>
				<string>SPACE AI TECHNOLOGY INC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
